/* 컬러 */
:root {
	--background-color: #FAFAFA;
	--main-text-color: #2A2A2A;
	--sub-text-color: #4F7F73;
	--primary-color: #36D2A1;
	--secondary-color: #5FE0B8;
	--light-primary-color: #B3F4E4;
	--link-color: #1DBB8E;
}

.dark {
	--background-color: #2A2A2A;
	--main-text-color: #FFFFFF;
	--sub-text-color: #8FC4BB;
	--primary-color: #36D2A1;
	--secondary-color: #5FE0B8;
	--light-primary-color: #2F4944;
	--link-color: #4FE6C2;
}

/* 임시 작업용 */
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #FAFAFA;
		--main-text-color: #2A2A2A;
		--sub-text-color: #4F7F73;
		--primary-color: #36D2A1;
		--secondary-color: #5FE0B8;
		--light-primary-color: #B3F4E4;
		--link-color: #1DBB8E;
	}
}

/* end */

/* 폰트 */
:root {
	--font-baloo: 'Baloo 2', cursive;
	--font-roboto-mono: 'Roboto Mono', monospace;
	--font-default-mac: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", sans-serif;
	--font-default-win: Segoe UI, sans-serif;
}

/* 스타일 */
html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--main-text-color);
	background: var(--background-color);
	font-family: var(--font-default-mac);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1 {
	color: var(--primary-color);
	font-family: var(--font-baloo);
	font-size: 70px;
	font-weight: 700;
	-webkit-text-stroke: 1px var(--primary-color);
}

h2{
	font-family: var(--font-baloo);
	font-size: 35px;
	font-weight: 400;
	color: var(--primary-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}