.mainBody {
	margin-top: 80px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	max-width: 810px;
	width: 100%;
	height: calc(100vh - 80px);
	background-color: var(--background-color);
}

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding: 0 10px;
	gap: 50px;
}

@media (min-width: 810px) {
	.mainContainer {
		width: 810px;
	}
}

.introduction {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
}

.introLeft {
	flex: 1;
}

.introLeft h1 {
	color: var(--primary-color);
	font-family: var(--font-baloo);
	font-size: 45px;
	font-weight: 700;
	font-stretch: 200%;
	-webkit-text-stroke: 1px var(--primary-color);
}

.introRight {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: 400px;
	height: 160px;
}

.introMyself {
	font-family: var(--font-baloo);
	font-size: 20px;
	line-height: 1.1;
}

.TILCard {
	height: 135px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	border-bottom: 1px solid var(--primary-color);
}

@media (min-width: 810px) {
	.TILCard {
		width: 800px;
	}
}

.cardTitle {
	font-size: 35px;
	font-family: var(--font-roboto-mono);
	font-weight: bold;
	letter-spacing: -0.05em;
}

.cardDescription {
	font-size: 20px;
	font-family: var(--font-roboto-mono);
	color: var(--sub-text-color);
	letter-spacing: -0.05em;
}