.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: start;
  gap: 24px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.card {
  background-color: var(--background-color);
  color: var(--main-text-color);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 378px;
  width: 100%;
  min-height: 330px;
  margin: 0 auto;
  overflow: hidden;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: top;
  height: 180px;
  max-height: 180px;
}

.content {
  padding: 5px 24px 15px 24px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  border-bottom: 3px solid var(--primary-color);
  display: inline-block;
  margin-bottom: 10px;
  white-space: nowrap;
}

.description {
  font-size: 16px;
  color: var(--sub-text-color);
  ;
  white-space: pre-line;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  line-clamp: 3;
  box-orient: vertical;
  display: box;
}

@media (max-width: 693px) {
  .projectGrid {
    grid-template-columns: 1fr;
    max-width: 100vw;
  }

  .card {
    max-width: none;
    width: calc(100vw - 30px);
    margin: 0;
    min-height: auto;
  }
}